<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Servidores</title>
  <!-- ICONS -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <!--  -->
  <link rel="stylesheet" href="search_server.css">
  <link rel="stylesheet" href="../../style.css">
</head>

<body>
  <div class="general-container">
    <!-- MENU LATERAL -->
    <div class="side-bar">
      <!-- PARA MOSTRAR HERRAMIENTAS -->
      <ul class="tools" id="servers-list">
        <li>
          <a href="#" class="new-server" id="create_server">
            <span class="material-symbols-outlined crear-server" title="Crear servidor">
              add_circle
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="material-symbols-outlined explorar-server" title="Explorar">
              explore
            </span>
          </a>
        </li>

      </ul>
      <!-- PARA MOSTRAR USUARIO -->
      <div class="user-card">
        <div class="avatar">
          <img src="../../assets/images/avatar_prueba.jpg" alt="john">
        </div>
        <div class="user-name" id="user-name"></div>
      </div>
    </div>

    <!-- SERVER CHANELS -->
    <div class="server-channels hidden" id="channels-sidebar">
      <ul id="server-channels">

      </ul>
      <div class="new-channel-container">
          <span class="material-symbols-outlined btn-new-channel" title="Agregar canal" id="new-channel">
              add
          </span>
      </div>
  </div>

    <!-- MENU GENERAL -->
    <div class="servers-container">
      <input type="text" class="search-bar" name="search-bar" id="search-bar" placeholder="Buscar Servidor...">
      <div class="servers" id="servers"></div>
      <div class="message" id="mainMessage"></div>
    </div>


    <!-- MODAL JOIN SERVER -->
    <dialog class="new-modal" id="modalJoinServer">
      <div class="modal-container">
        <h3>Unirse a un servidor</h3>
        <form action="#" id="form-register-in-server">
          <br>
          <p id="modalText"></p>
          <button type="submit" class="btn-form-ns" id="btn-join-server">Unirse</button>
          <button type="submit" formmethod="dialog" class="btn-form-ns cancel-modal">Cancelar</button>
        </form>
      </div>
    </dialog>

    <!-- MODAL NUEVO SERVER -->
    <div id="newServerModalContainer"></div>
    <!-- MODAL NUEVO CANAL -->
    <div id="newChannelModalContainer"></div>
    <!-- MODAL ERROR -->
    <div id="errorModalContainer"></div>

    <script src="search_server.js"></script>
    <script src="../../script.js"></script>
</body>

</html>