<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="main.css">
    <title>Main</title>
</head>

<body>
    <div class="side-bar">
        <!-- PARA MOSTRAR HERRAMIENTAS -->
        <div class="tools">
            <ul>
                <li>
                    <a href="#">
                        <div class="my-server">
                            <object id="svg-icon" type="image/svg+xml" data="../../assets/icons/dns_black_24dp.svg"></object>
                            <img src="../assets/icons/dns_black_24dp.svg" alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="new-server">
                        <img class="icon5 search" src="../../assets/icons/add_circle_outline_black_24dp.svg" alt="foto">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="material-symbols-outlined explore-server">
                            <img class="img3" src="../../assets/icons/explore_black_24dp.svg" alt="">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- PARA MOSTRAR USUARIO -->
        <div class="user-card">
            <div class="avatar">
                <img src="../../assets/images/avatar_prueba.jpg" alt="john">
            </div>
            <div class="user-name">John</div>
        </div>
    </div>
    <main>
        <div class="content">
            <p>Aún no te has unido a un servidor.</p>
            <p>Únete a uno o crea uno propio.</p>
        </div>
    </main>
</body>

</html>