<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="../../style.css">
</head>

<body>
    <div class="general-container">
        <!-- MENU LATERAL -->
        <div class="side-bar">
            <!-- PARA MOSTRAR HERRAMIENTAS -->
            <ul class="tools">
                <!-- <li>
                    <a href="#" class="my-server">
                        <span class="material-symbols-outlined " title="">
                            dns
                            </span>
                    </a>
                </li> -->
                <li>
                    <a href="#" class="new-server" id="create_server">
                        <span class="material-symbols-outlined crear-server" title="Crear servidor">
                            add_circle
                        </span>
                    </a>
                </li>
                <li>
                    <a href="../search_server/search_server.html">
                        <span class="material-symbols-outlined explorar-server" title="Explorar">
                            explore
                        </span>
                    </a>
                </li>

            </ul>
            <!-- PARA MOSTRAR USUARIO -->
            <div class="user-card">
                <div class="avatar">
                    <img src="../../assets/images/avatar_prueba.jpg" alt="john">
                </div>
                <div class="user-name" id="user-name"></div>
            </div>
        </div>

        <!-- SERVER CHANELS -->
        <div class="server-chanles visible">
            <!-- <div class="chanel-1">
                <a href="#">CANAL 1</a>
            </div>
            <div class="chanel-2">
                <a href="#">CANAL 2</a>
            </div>
            <div class="chanel-3">
                <a href="#">CANAL 3</a>
            </div> -->
        </div>
        <!-- MENU GENERAL -->
        <div class="servers-container">
            <div class="servers">
            </div>
            <div class="message">
                <h2>Aún no te has unido a un servidor</h2>
                <h2>Únete a uno o crea uno propio</h2>
            </div>
        </div>
    </div>


     <!-- MODAL NUEVO SERVER -->
     <dialog class="new-modal" id="modalCreateServer">
        <div class="modal-container">
            <h3>Crear Nuevo Servidor</h3>
            <form id="form-new-server" action="#">
                <input type="text" name="text" id="text" placeholder="Nombre del servidor...">
                <br>
                <button id="btn-create-server" type="submit" class="btn-form-ns">Crear</button>
                <button type="submit" formmethod="dialog" class="btn-form-ns cancel-modal">Cancelar</button>
            </form>
        </div>
    </dialog>

    <script src="../../script.js"></script>
</body>

</html>