<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="login.css">
  <title>Iniciar sesión</title>
</head>
<body>
  <div class="form-container">
    <form action="#" class="my-form">
      <label for="name">Iniciar sesión</label>
      <input type="email" name="Correo electronico" id="email"required>
      <label for="contraseña">Contraseña</label>
      <input type="password" id="contraseña" name="password"required>
      
      <button type="submit" class="get-data">Confirmar</button>
      <div class="pie-for">
        <a href="#">"No tienes una cuenta? Registrarse</a>
    </div>
    </form>
  </div>
  
</body>
</html>