<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Register.css">
  <title>Crear una cuenta</title>
</head>
<body>
  <div class="form-container">
    <form action="#" class="my-form">
      
      <label for="name">Crear una cuenta</label>
      <input type="email" name="Correo electronico" id="email"required>
      <label for="nameu">Nombre de Usuario</label>
      <input type="text" nameu="Nombre de usuario" id="nameu"required>
      <label for="name">Nombre</label>
      <input type="text"name="Nombre" id="nombre"required>
      <label for="name">Apellido</label>
      <input type="text"name="Apellido" id="apellido"required>
      <label for="contraseña">Contraseña</label>
      <input type="password" id="contraseña" name="password" size= "25" required>
      <label for="fecha de nacimiento"> "Fecha de nacimineto"</label>
      <input type= "date" name="Fecha de nacimiento"required>
      <button type="submit" class="get-data">Confirmar</button>
      
    </form>
  </div>
  
</body>
</html>